.TableContainer{
    width: 85%;
    height: max-content;
    padding: 1rem;
}

.Table{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.Headers, .Body{
    width: 100%;
}

.Rows{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.Rows th, .Rows td{
        width: 19.75%;
}

.Rows th{
    background-color: #307e6c;
    color: #e1eeeb;
}

.Rows th:nth-child(1){
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -ms-border-radius: 5px 0 0 0;
    -o-border-radius: 5px 0 0 0;
}

.Rows th:nth-child(5){
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -ms-border-radius: 0 5px 0 0;
    -o-border-radius: 0 5px 0 0;
}

.Rows td{
    text-align: center;
    color: #c2e9e0;
    font-size: 18px;
}
